{% extends "base.html" %}
{% block content %}
    <head>
        <meta charset="utf-8" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
    </head>
    
    <h2>Date Created</h2>

    <body>
    
    <div class="row">
      
    <div id="discretebarchart" class="col-md-12"><svg style="height:400px;"></svg></div>
    
    </div>

    <script>



        //data_discretebarchart=[{"yAxis": "1", "key": "Serie 1", "values": [{"x": "Sun", "y": 73}]}];
        //data_discretebarchart={{full_chart_values_day|safe}};
        
        d3.json("/created_at_api", function(dataSet){
        console.log(dataSet)

            nv.addGraph(function() {
        var chart = nv.models.discreteBarChart();

        chart.margin({top: 30, right: 60, bottom: 20, left: 60});

        var datum = dataSet;



                    chart.yAxis
                .tickFormat(d3.format(',.0f'));

    
    

        



            d3.select('#discretebarchart svg')
            .datum(datum)
            .transition().duration(500)
            .attr('width', 400)
            .attr('height', 400)
            .call(chart);

    
        });

        });

    </script>

    </body>

{% endblock %}